{% macro navigate(div_class, form_class,
   button1_class, button2_class, button3_class="button3") %}
  <div class={{div_class}}>
    <form action=/home/ method=GET class={{form_class}}>
      <button type=submit class={{button3_class}}>Home</button>
    </form>
    <form action=/auth/signinform method=GET class={{form_class}}>
      <button type=submit class={{button1_class}}>Sign in </button>
    </form>
    <button type=submit class={{button1_class}}>Sign out</button>
    <form action=/auth/register method=GET class={{form_class}}>
      <button type=submit class={{button1_class}}>Register</button>
    </form>
    <form action=/plants/ method=GET class={{form_class}}>
      <button type=submit class={{button2_class}}>Add new plant </button>
    </form>
    <form action=/plants/get_all method=GET class={{form_class}}>
      <button type=submit class={{button2_class}}>List of plants </button>
    </form>
    <form action=/members/ method=GET class={{form_class}}>
      <button type=submit class={{button2_class}}>List of members </button>
    </form>
    <button type=submit class={{button2_class}}>Button_b</button>
    <form action=/general/ method="GET" class={{form_class}}>
      <button type=submit class={{button2_class}}>General</button>
    </form>
    <form action=/facts/ method=GET class={{form_class}}>
      <button type=submit class={{button2_class}}> Interesting facts </button>
    </form>
  </div>
{% endmacro header %}