{% macro navigate(class) %}
  <div class={{class}}>
    <form action=/auth/signinform method=GET id="nav_form">
      <button type=submit id="button2">Sign in </button>
    </form>
    <button type=submit id="button2">Sign out</button>
    <form action=/plants/ method=GET id="nav_form">
      <button type=submit id="button2">Add new plant </button>
    </form>
    <form action=/plants/get_all method=GET id="nav_form">
      <button type=submit id="button2">List of plants </button>
    </form>
    <form action=/members/ method=GET id="nav_form">
      <button type=submit id="button2">List of members </button>
    </form>
    <button type=submit id="button2">Button_b</button>
    <form action=/general/ method="GET" id="nav_form">
      <button type=submit id="button2">General</button>
    </form>
    <form action=/home/ method=GET id="nav_form">
      <button type=submit id="button2">Home</button>
    </form>
    <form action=/auth/register method=GET id="nav_form">
      <button type=submit id="button2">Register</button>
    </form>
  </div>
{% endmacro header %}