{% import "base/macros/header.html" as macros %}
{% import "base/macros/navigate.html" as navigate %}
{% extends "base/base.html" %}

{% block title %} List of plants {% endblock title %}

{% block header %}
{{
  macros::header(
  title="House Plants", 
  paragraph="The list of all plant records in House Plants.", 
  class="header_a"
  )
}}
{% endblock header %}

{% block navigate %}
{{
  navigate::navigate( 
  class="nav"
  )
}}
{% endblock navigate %}

<div id="content">
  {% block content %}
    {% for plant in plants %}
    <p>{{loop.index}}. {{plant.plant_name}}</p>
    <p>{{loop.index}}. {{plant.plant_description}}</p>
    {% endfor %}
  {% endblock content %}
</div>