{% import "base/macros/header.html" as macros %}
{% import "base/macros/navigate.html" as navigate %}
{% extends "base/base.html" %}

{% block title %} List of plants {% endblock title %}

{% block header %}
{{
  macros::header(
  title="House Plants", 
  paragraph="The list of all plant records in House Plants.", 
  class="header_a"
  )
}}
{% endblock header %}

{% block navigate %}
{{
  navigate::navigate( 
  class="nav"
  )
}}
{% endblock navigate %}

{% block content %}
  <div id="content" class="nav">
    {% for plant in plants %}
    <li key="{{loop.index}}" style="margin: left 5px;;">
      <div>
        <span style="color:maroon; font-weight: bold;;">{{plant.plant_name}}</span>
        <span>&nbsp;&nbsp;&nbsp;Alternative name: {{plant.plant_alternative_name}}</span>
      </div>
      <div>{{plant.plant_description}}</div>
      <div>{{plant.plant_care}}</div>
      <div>{{plant.plant_care_difficulty}}</div>
      <div>{{plant.plant_extra_info}}</div>
      <div>Possible price: {{plant.plant_price}}</div>
    </li>
    {% endfor %}
  </div>
 {% endblock content %}
