{% import "base/macros/header.html" as macros %}
{% import "base/macros/navigate.html" as navigate %}
{% import "base/macros/footer.html" as footer %}
{% extends "base/base.html" %}

{% block title %}
  General
{% endblock title %}

{% block header %}
{{
  macros::header(
  title="House Plants", 
  paragraph="Interesting facts about plants", 
  class="header_a"
  )
}}
{% endblock header %}

{% block navigate %}
{{
  navigate::navigate( 
  class="nav"
  )
}}
{% endblock navigate %}

{% block content %}
  <div class="nav">
    <h1>Interesting facts about plants</h1>
    <p>{{message}}</p>
  </div>
{% endblock content %}