{% import "base/macros/header.html" as macros %}
{% import "base/macros/navigate.html" as navigate %}
{% import "base/macros/footer.html" as footer %}
{% extends "base/base.html" %}

{% block title %}
  General
{% endblock title %}

{% block header %}
{{
  macros::header(
  title="House Plants", 
  paragraph="Interesting facts about plants", 
  class="header_a"
  )
}}
{% endblock header %}

{% block navigate %}
{{
  navigate::navigate( 
  div_class="nav",
  form_class="nav_form",
  button1_class="button1",
  button2_class="button2"
  )
}}
{% endblock navigate %}

{% block content %}
  <div class="nav">
    <h1>Interesting facts about plants</h1>
    <p>{{message}}</p>
  </div>
{% endblock content %}

{% block footer %}
{{
  footer::footer( 
  text="Plants first appeared on land about 460 million years ago",
  class="footer"
  )
}}
{% endblock footer %}