{% import "base/macros/header.html" as macros %}
{% import "base/macros/navigate.html" as navigate %}
{% extends "base/base.html" %}

{% block title %} List of members {% endblock title %}

{% block header %}
{{
  macros::header(
  title="House Plants", 
  paragraph="The list of House Plants members.", 
  class="header_a"
  )
}}
{% endblock header %}

{% block navigate %}
{{
  navigate::navigate( 
  class="nav"
  )
}}
{% endblock navigate %}

<div id="content">
  {% block content %}
    {% for member in members %}
    <p>{{loop.index}}. {{member.member_name}}</p>
    {% endfor %}
  {% endblock content %}
</div>