{% import "base/macros/header.html" as macros %}
{% import "base/macros/navigate.html" as navigate %}
{% extends "base/base.html" %}

{% block title %} List of members {% endblock title %}

{% block header %}
{{
  macros::header(
  title="House Plants", 
  paragraph="The list of House Plants members.", 
  class="header_a"
  )
}}
{% endblock header %}

{% block navigate %}
{{
  navigate::navigate( 
  class="nav"
  )
}}
{% endblock navigate %}

  {% block content %}
  <div id="content" class="nav">
    {% for member in members %}
    <li key="{{loop.index}}" style="margin: left 5px;;">
      <div>
        <span style="color:maroon; font-weight: bold;;">{{member.member_name}}</span>
      </div>
      <div>{{member.member_info}}</div>
    </li>
    {% endfor %}
  </div>
  {% endblock content %}