{% import "base/macros/header.html" as macros %}
{% import "base/macros/navigate.html" as navigate %}
{% import "base/macros/footer.html" as footer %}
{% extends "base/base.html" %}

{% block title %} Plant record {% endblock title %}

{% block header %}
{{
  macros::header(
  title="House Plants", 
  paragraph="Plant record.", 
  class="header_a"
  )
}}
{% endblock header %}

{% block navigate %}
{{
  navigate::navigate( 
  class="nav"
  )
}}
{% endblock navigate %}

{% block content %}
  <div class="nav">
    <p>Plant name: {{current_name}}</p>
    <p>Description: {{current_description}}</p>
    <p>Care: {{current_care}}</p>
    <p>Care difficulty: {{current_care_difficulty}}</p>
    <p>Alternative name: {{current_alternative_name}}</p>
    <p>Plant price: {{current_price}}</p>
    <p>Extra info: {{current_extra_info}}</p>
  </div>
{% endblock content %}

{% block footer %}
{{
  footer::footer( 
  text="Plants first appeared on land about 460 million years ago",
  class="footer"
  )
}}
{% endblock footer %}

