{% extends "base/base.html" %}

{% block title %} Plant record {% endblock title %}

{% block header %}
<div class="header_a">
  <h1>House Plants</h1>
  <p>Plant record</p>
  </div>
{% endblock header %}

{% block navigate %}
  <div class="nav">
    <form action=/auth/signinform method=GET id="nav_form">
      <button type=submit id="button2">Sign in </button>
    </form>
    <form action=/plants/ method=GET id="nav_form">
      <button type=submit id="button2">Add new plant </button>
    </form>
    <button type=submit id="button2">Button_a</button>
    <button type=submit id="button2">Button_b</button>
    <form action=/general/ method="GET" id="nav_form">
      <button type=submit id="button2">General</button>
    </form>
    <form action=/home/ method=GET id="nav_form">
      <button type=submit id="button2">Home</button>
    </form>
    <form action=/auth/register method=GET id="nav_form">
      <button type=submit id="button2">Register</button>
    </form>
  </div>
{% endblock navigate %}

{% block content %}
  <div class="nav">
    <p>Plant name: {{current_name}}</p>
    <p>Description: {{current_description}}</p>
    <p>Care: {{current_care}}</p>
    <p>Care difficulty: {{current_care_difficulty}}</p>
    <p>Alternative name: {{current_alternative_name}}</p>
    <p>Plant price: {{current_price}}</p>
    <p>Extra info: {{current_extra_info}}</p>
  </div>
{% endblock content %}

