{% import "base/macros/header.html" as macros %}
{% import "base/macros/navigate.html" as navigate %}
{% import "base/macros/footer.html" as footer %}
{% extends "base/base.html" %}

{% block title %} Add New Plant {% endblock title %}

{% block header %}
{{
  macros::header(
  title="House Plants", 
  paragraph="", 
  class="header_a"
  )
}}
{% endblock header %}

{% block navigate %}
{{
  navigate::navigate( 
  class="nav"
  )
}}
{% endblock navigate %}

{% block form %}
  <div class="form_a">
    <h2>New plant record</h2>
    <form action=/plants/add_new method=POST id="new_plant_form">
      <label for="member_name">Enter your member id</label><br>
      <input type="text" name="member_name" value="{{current_member_name}}" autocomplete="member_name" id="member_name" minlenght="2" maxlength="10" required><br>
        <label for="plant_name">Plant name</label><br>
        <input type="text" name="plant_name" value="{{current_plant_name}}" autocomplete="plant_name" minlength="4"
            maxlength="25" required><br>
        <label for="plant_description">Plant description</label><br>
        <input type="text" name="plant_description" value="{{current_plant_description}}" autocomplete="plant_description" minlength="6"
            maxlength="25" required><br>
        <label for="plant_care">Plant care description</label><br>
        <input type="text" name="plant_care" value="{{current_plant_care}}" autocomplete="plant_care" minlength="6"
            maxlength="25" required><br>
        <label for="plant_alternative_name">Plant other names</label><br>
        <input type="text" name="plant_alternative_name" value="{{current_plant_alternative_name}}" autocomplete="plant_alternative_name" minlength="6"
            maxlength="25" required><br>                
        <label for="plant_care_difficulty">Difficulty of the plant care </label><br>
        <input type="text" name="plant_care_difficulty" value="{{current_plant_care_difficulty}}" autocomplete="plant_care_difficulty" minlength="4"
            maxlength="25" ><br>
        <label for="plant price">Plant price</label><br>
        <input type="number" name="plant_price" value="{{current_plant_price}}" autocomplete="plant_price"><br>
        <label for="plant_extra_info">Some extra info</label><br>
        <input type="text" name="plant_extra_info" value="{{current_plant_extra_info}}" autocomplete="plant_extra_info" minlength=""
            maxlength="25" ><br>
        <label for="error">
            <p style="color:red">{{error}}</p>
        </label>
        <br>
        <button type=submit id="button2">New Plant</button>
    </form>
  </div>
{% endblock form %}