{% import "base/macros/header.html" as macros %}
{% import "base/macros/navigate.html" as navigate %}
{% extends "base/base.html" %}

{% block title %} Register {% endblock title %}

{% block header %}
{{
  macros::header(
  title="House Plants", 
  paragraph="", 
  class="header_a"
  )
}}
{% endblock header %}

{% block navigate %}
{{
  navigate::navigate( 
  class="nav"
  )
}}
{% endblock navigate %}

{% block form %}
  <div class="form_a">
    <h2>Member registration</h2>
    <form action=/auth/register method=POST id="registerform">
        <label for="username">Enter username</label><br>
        <input type="text" name="username" value="{{current_username}}" id="username" autocomplete="username" minlength="6"
            maxlength="12" required><br>
        <label for="password">Enter password</label><br>
        <input type="password" name="password" value="{{current_password}}" id="password" autocomplete="new-password"
            minlength="8" maxlength="12" required><br>
        <label for="confirmation">Confirm password</label><br>
        <input type="password" name="confirmation" value="{{current_confirmation}}" id="confirmation" autocomplete="new-password"
            minlength="8" maxlength="12" required><br>
        <label for="name">Member name</label><br>
        <input type="text" name="name" value="{{current_name}}" id="name" minlength="2" maxlength="10" required autocomplete="name"><br>
        <label for="info">Brief member info</label><br>
        <input type="text" name="info" value="{{current_info}}" id="info" maxlength="40" autocomplete="info"><br>
        <label for="error">
            <p style="color:red">{{error}}</p>
        </label>
        <br>
        <button type=submit id="button2">Register</button>
    </form>
  </div>
{% endblock form %}