<!doctype html>
<html>

<head>
    <meta charset=utf-8>
    <title>Member registration</title>
    <link rel="stylesheet" href="/templates/register_and_signin_forms.css">
</head>

<body>
    <div class="header_a">
    <h1>Welcome to House Plants</h1>
    <p>Read and Write about Houseplants</p>
    </div>

    <div class="form_a">
    <h2>Member registration</h2>
    <form action=/register method=POST id="registerform">
        <label for="username">Enter username</label><br>
        <input type="text" name="username" value="{{current_username}}" id="username" autocomplete="username" minlength="6"
            maxlength="12" required><br>
        <label for="password">Enter password</label><br>
        <input type="password" name="password" value="{{current_password}}" id="password" autocomplete="new-password"
            minlength="8" maxlength="12" required><br>
        <label for="confirmation">Confirm password</label><br>
        <input type="password" name="confirmation" value="{{current_confirmation}}" id="confirmation" autocomplete="new-password"
            minlength="8" maxlength="12" required><br>
        <label for="name">Member name</label><br>
        <input type="text" name="name" value="{{current_name}}" id="name" minlength="2" maxlength="10" required autocomplete="name"><br>
        <label for="info">Brief member info</label><br>
        <input type="text" name="info" value="{{current_info}}" id="info" maxlength="40" autocomplete="info"><br>
        <label for="error">
            <p style="color:red">{{error}}</p>
        </label>
        <br>
        <button type=submit id="button1">Register</button>
    </form>
    <form action=/ method=GET>
        <button type=submit id="button2">Sign in</button>
    </form>
    </div>
</html>