{% extends "base/base.html" %}

{% block header %}
<div class="header_a">
  <h1> House Plants</h1>
  </div>
{% endblock header %}

{% block navigate %}
  <div class="nav">
    <form action=/auth/sign method=GET id="nav_form">
      <button type=submit id="button2">Sign in </button>
    </form>
    <button type=submit id="button2">Button_a</button>
    <button type=submit id="button2">Button_b</button>
    <form action=/general/ method="GET" id="nav_form">
      <button type=submit id="button2">General</button>
    </form>
    <form action=/home/ method=GET id="nav_form">
      <button type=submit id="button2">Home</button>
    </form>
    <form action=/auth/register method=GET id="nav_form">
      <button type=submit id="button2">Register</button>
    </form>
  </div>
{% endblock navigate %}

{% block form %}
  <div class="form_a">
    <h2>Sign in </h2>
    <form action=/auth/signin method=POST>       
      <label for="username">Enter username</label><br>            
      <input type="text" name="username" autocomplete="username" value="{{current_name}}" minlength="6"
          maxlength="12" id="username" required><br>
      <label for="password">Enter password</label><br>        
      <input type="password" name="password" autocomplete="new-password" value="{{current_password}}"
          minlength="8" maxlength="12" id="password" required><br>
      <label for="error">                                     
          <p style="color:red">{{error}}</p>
      </label><br>
      <button type=submit id="button1">Sign in</button>       
  </form>
  </div>
{% endblock form %}