{% import "base/macros/header.html" as macros %}
{% import "base/macros/navigate.html" as navigate %}
{% import "base/macros/footer.html" as footer %}
{% extends "base/base.html" %}

{% block title %} Sign in  {% endblock title %}

{% block header %}
{{
  macros::header(
  title="House Plants", 
  paragraph="", 
  class="header_a"
  )
}}
{% endblock header %}

{% block navigate %}
{{
  navigate::navigate( 
  div_class="nav",
  form_class="nav_form",
  button1_class="button1",
  button2_class="button2"
  )
}}
{% endblock navigate %}

{% block form %}
  <div class="form_a">
    <h2>Sign in </h2>
    <form action=/auth/signin method=POST>       
      <label for="username">Enter username</label><br>            
      <input type="text" name="username" autocomplete="username" value="{{current_name}}" minlength="6"
          maxlength="12" id="username" required><br>
      <label for="password">Enter password</label><br>        
      <input type="password" name="password" autocomplete="new-password" value="{{current_password}}"
          minlength="8" maxlength="12" id="password" required><br>
      <label for="error">                                     
          <p style="color:red">{{error}}</p>
      </label><br>
      <button type=submit class="button1">Sign in</button>       
  </form>
  </div>
{% endblock form %}

{% block footer %}
{{
  footer::footer( 
  text="Plants first appeared on land about 460 million years ago",
  class="footer"
  )
}}
{% endblock footer %}