{% import "base/macros/header.html" as macros %}
{% import "base/macros/navigate.html" as navigate %}
{% import "base/macros/footer.html" as footer %}
{% extends "base/base.html" %}

{% block title %} Home {% endblock title %}

{% block header %}
{{
  macros::header(
  title="Welcome to House Plants", 
  paragraph="Read and Write about houseplants.", 
  class="header_a"
  )
}}
{% endblock header %}

{% block navigate %}
{{
  navigate::navigate( 
  div_class="nav",
  form_class="nav_form",
  button1_class="button1",
  button2_class="button2"
  )
}}
{% endblock navigate %}

{% block footer %}
{{
  footer::footer( 
  text="Plants first appeared on land about 460 million years ago",
  class="footer"
  )
}}
{% endblock footer %}