<!doctype html>
<html>

<head>
    <meta charset=utf-8>
    <title>Home</title>
    <link rel="stylesheet" href="/auth/templates/register_and_signin_forms.css">
</head>

<body>
    <div class="header_a">
    <h1>Welcome to House Plants</h1>
    <p>Read and Write about Houseplants</p>
    </div>

    <div class="nav" >
      <form action=/auth/signinform method=GET id="nav_form">
        <button type=submit id="button2">Sign in </button>
      </form>
      <button type=submit id="button2">Button_a</button>
      <button type=submit id="button2">Button_b</button>
      <button type=submit id="button2">Show</button>
      <form action=/home/ method=GET id="nav_form">
        <button type=submit id="button2">Home</button>
      </form>
      <form action=/auth/register method=GET id="nav_form">
        <button type=submit id="button2">Register</button>
      </form>
    </div>
</html>